- f.object.class.table_attributes.each do |attribute|
  .row
    .small-3.columns
      = f.label attribute, attribute.humanize, class: 'error'
    .small-9.columns
      = f.input attribute.to_sym, input_options(f, attribute)
      %small.error
        Invalid entry
= f.button :submit, class: 'button small round'