%div.ui.container
  %div.ui.form
    %h2 Edit #{resource_name.singularize}

    = simple_form_for(@resource, url: eval("honcho.#{@resource.class.name.downcase}_path(@resource)"), method: :put) do |f|
      = render 'form', f: f
