<!DOCTYPE html>
<html>
<head>
  <title>Honcho</title>
  <%= stylesheet_link_tag    "honcho/application", media: "all" %>
  <%= javascript_include_tag "honcho/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
