/* MAIN STYLES */

body {
  background-color: #F5F5F5 !important;
}

.ui.main.grid {
  left: 15.00%;
  position: relative;
  width: 85%;
}

.ui.fixed.main.menu {
  display: none;
}

.ui.left.fixed.vertical.menu {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.ui.left.fixed.vertical.menu a.item:first-child {
  padding-bottom: 30px;
  padding-top: 60px;
}

.ui.sidebar.vertical.menu a.item:first-child {
  padding-bottom: 15px;
  padding-top: 30px;
}

.nav-bar {
  box-shadow: none !important;
}

/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ui.left.fixed.vertical.menu {
    display: none;
  }

  .nav-bar {
    display: none !important;
  }

  .ui.fixed.main.menu {
    display: block;
  }

  .ui.main.grid {
    left: 0%;
    margin: 0 auto;
    padding: 2.75rem 0 0;
    position: relative;
    width: 100%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.header.datetime {
    margin: 3rem 0 1rem;
  }

  .ui.left.fixed.vertical.menu {
    display: none;
  }

  .ui.fixed.main.menu {
    display: block;
  }

  .nav-bar {
    display: none !important;
  }

  .ui.main.grid {
    left: 0%;
    padding-top: 3.95rem !important;
    position: relative;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .ui.fixed.main.menu {
    display: none;
  }

  .ui.left.fixed.vertical.menu {
    display: block;
  }
}
